.zone {
    /*max-height: 300px;*/
    margin-top: 20px;
}

.chart {
    max-height: 250px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    border-color: #e2e2e2;

}

.chart.noborders {
    border-width: 0px;
}

.content {
    padding: 30px;
}

canvas {}


/* Footer */

.container.footer {
    margin-top: 20px;
}
